  
<!DOCTYPE html>
<html>
    <head>
        <title>Sparta Gym</title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">
        <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    </head>
    <body>
        <nav id="navbar">
            <div class="nav-inner-container">
                <a href="/members">Members</a>
                <a href="/sparta_classes">Classes</a>
            </div>
        </nav>
        <%= yield %>
    </body>
</html>
