  
<!DOCTYPE html>
<html>
    <head>
        <title>Sparta Gym</title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">
        <link rel="stylesheet" type="text/css" href="/styles/forms.css">
        <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    </head>
    <body>
        <div class="logo">
            <a href="/">SpartaGym</a>
        </div>
        <nav id="navbar">
            <div class="top-nav">
                <div class="topnav-left">
                    <a href="/members">Members</a>
                </div>
                <div class="topnav-center">
                    <img class="header-img" src="/images/dumbbells.png" alt="orange dumbbells"/>
                </div>
                <div class="topnav-right">
                    <a href="/sparta_classes">Classes</a>
                </div>
            </div>
        </nav>
        <%= yield %>
    </body>
</html>