  h1 {
    text-align: center;
    color:  #1d1616;;
    opacity: 0.8;
  }
  
  .members {
    border-collapse: collapse;
    width: 100%;
    opacity: 0.8;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .members tr:nth-child(odd){background-color: #333;}
  .members tr:nth-child(even){background-color: #555353;}

  .members tr:hover {background-color: #1d1616;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1d1616;
    color:  rgb(235, 153, 47);
  }

  td {
    color:  ivory;
  }

  .action {
    cursor: pointer;
    width: 3rem;
    padding: .3rem;
    border-radius: 54px;
    background-color: #1d1616;
    text-align: center;
    font-size: .75rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
  }

  .action:hover {
    background-color:  rgb(235, 153, 47);
  }

  .center {
    text-align: center;
  }