h1 {
    text-align: center;
    color:  #1d1616;;
    opacity: 0.8;
  }
  
  .headline {
    float: right;
}

.add {
    cursor: pointer;
    width: 6rem;
    padding: .5rem;
    border-radius: 54px;
    background-color: #1d1616;
    text-align: center;
    font-size: .80rem;
    transition: background-color .25s;
    border: 0px;
    color: rgb(235, 153, 47);
    font-weight: 500;
    width: 12em;
    margin-bottom: 1em;
    opacity: 0.8;
}

.add:hover {
    background-color:  #0a0a0a;
}

.action {
    cursor: pointer;
    width: 3rem;
    padding: .3rem;
    border-radius: 54px;
    background-color: #1d1616;
    text-align: center;
    font-size: .75rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
}

.action:hover {
    background-color:  rgb(235, 153, 47);
  }

.center {
    text-align: center;
}
