  .tables-layout {
    border-collapse: collapse;
    width: 100%;
    opacity: 0.8;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .tables-layout tr:nth-child(odd){background-color: #333;}
  .tables-layout tr:nth-child(even){background-color: #555353;}

  .tables-layout tr:hover {
    background-color: #1d1616;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1d1616;
    color:  rgb(235, 153, 47);
  }

  td {
    color:  ivory;
  }